
.send-button {
    background-color: rgb(25, 135, 84);
    /* width: 100px;
    height: 50px; */
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px;
    color: white;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.chat-input {
    padding: 20px 14px;
    font-size: 14px;
    height: 36px;
    border: 2px solid #aaa;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    color: #333;
    transition: border 0.25s ease, box-shadow 0.25s ease;
    flex-grow: 1;
}

.chat-input::placeholder{
      color: #999;
}
.chat-input:focus {
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image:
        linear-gradient(#fff, #fff),
        linear-gradient(120deg, #ff00cc, #3333ff, #00ffff);
    animation: animated-outline 2s linear infinite;
    outline: none;
    background-size: 200% 200%;
    background-position: 0% 50%;
}

@keyframes animated-outline {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.chat-input-container{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
