 p{
           margin-top: 0;
           margin-bottom: 0;
           }

body{
    margin: 0;
    padding-top: 6.8vw;
    padding-left: 8.5vw;
    padding-right: 1.8vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}