.header{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.hamburger_menu{
    margin-right: 15px ;
    
    width: 15px;
    
    
}
.yticon{
    width: 80px;
}
.left_section{
    width: 100px;
    vertical-align: top;
    display: flex;
    align-items: center;
    margin-left: 15px;
   
    
}
.middle_section{
    flex: 1;
    display: flex;
    margin-left: 40px;
    margin-right: 20px;
    max-width: 550px;
    align-items: center;
   
}
.right_section{
    width: 130px;
    display: flex;
    align-items: center;
    background-color: yellow;
}
/* Search Bar Container */
.search_button{
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    background-color:white;
    display: flex;
    object-fit: cover;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
}
.mic_1{
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
}
.searchbar{
    flex: 1;
    height: 26px;
    padding-left: 12px;
    font-size: 10px;
    border: 1px solid #414141;
    border-radius: 20px 0 0 20px;
    color:white;
    background: #000;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.15);
    vertical-align: middle;
    /* margin-right: -1px; */
}
.searchbar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.searchbar:focus{
    border: 1px solid #36c;
    outline: none;
}