.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(224, 224, 224);
    z-index: 100;
}
.hamburger-menu{
   height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.left_section{
    vertical-align: top;
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
}
.middle_section{
    flex: 1;
    display: flex;
    max-width: 480px;
    align-items: center;
   /* background-color: lightpink; */
   margin-left: 70px;
   margin-right: 30px;
}
.right_section{
    width: 230px;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    justify-content: space-evenly;
    flex-shrink: 0;
}
/* Search Bar Container */
.search-button{
    width: 65px;
    height: 40px;
    border: 1px solid rgb(190,190,190);
    background-color: rgb(250, 250, 250);
    margin-right: 10px; 
    margin-left: -1.5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.search-button:active{
    background-color: rgb(230,230,230);
}

.search-button,.voice-search-button
,.upload-icon-container,.ytapps-container,
.notifications-icon-container{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
 .search-button .tooltip,
 .voice-search-button .tooltip,
 .upload-icon-container .tooltip,
 .ytapps-container .tooltip,
 .notifications-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 5px 8px;
    bottom: -40px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
     /* transform: translateX(-50%); */
    pointer-events:none;
    white-space: nowrap;
 }
 .search-button:hover .tooltip,
 .voice-search-button:hover .tooltip,
 .upload-icon-container:hover .tooltip,
 .ytapps-container:hover .tooltip,
 .notifications-icon-container:hover .tooltip{
    opacity: 1;
 }

.voice-search-button{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 7px;
    border-radius: 50%;
    border: none;
    background-color: rgb(250, 250, 250);
}
.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid rgb(190,190,190);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
    z-index: 200;
}

.search-bar:focus {
   outline: none;
   border: blue 1px solid;
   transition: border 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 5px 3px rgba(155, 89, 182, 0.4);
}

.search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/* .searchbar:focus{
    border: 1px solid #36c;
    outline: none;
} */
.search-icon{
    height: 25px;
    /* margin-top: 4px; */
}

.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}

.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -3px;
    right: -4px;
    background-color: rgb(187, 1, 1);
    color: white;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 10px;
}

.current-user-picture{
    height: 32px;
    border-radius: 50%;
}