@media(max-width:600px){
    body{
        padding-top: 17%;
        padding-left: 2.5%;
    }
    .video-grid{
    grid-template-columns: 1fr;
}

.hamburger-menu{
   height: 25px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
    margin-left: -5px;
}
.search-bar{
    display: none;
}
.search-button{
   width: auto;
    /* border: 1px solid rgb(190,190,190);
    border-radius: 50%; */
    background-color: rgb(250, 250, 250);
    margin-right: 10px; 
    margin-left: -1.5px;
    border: none;
   
}
.voice-search-icon{
    width: 90%;
    margin-left: -60%;
}


.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(224, 224, 224);
    z-index: 100;
}
.left_section{
    flex:2;
    vertical-align: top;
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    width: auto;
}
.middle_section{
    flex: 1;
    display: flex;
    /* max-width: 480px; */
    align-items: center;
   /* background-color: lightpink; */
   margin-left: -3%;
   margin-right: 5%;
   width: auto;
}
.right_section{
    flex: 1;
    width: auto;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    justify-content: space-around;
    flex-shrink: 0;
    margin-left: -10%;
}

.ytapps-container,
.notifications-icon-container{
    display: none;
}

 .search-button .tooltip,
 .voice-search-button .tooltip,
 .upload-icon-container .tooltip,
 .ytapps-container .tooltip,
 .notifications-icon-container .tooltip{
   display: none;
 }

.sidebar{
    position: fixed;
    top: auto;/* this will override desktops top */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height:60px;
     width: 100%;
    z-index: 105;
    padding-top: 0px;
    cursor: pointer;
    /* margin-bottom: 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    border-top: 1px solid #ccc;
} 

.sidebar-link{
    /* background-color: red; */
    /* width: 80px;
   height:100%;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   cursor: pointer; */
   /* flex-direction:row; */
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.sidebar-link:hover{
    background-color: rgb(229, 228, 228);
}

.sidebar-link img{
     height: 24px;
    width: 24px;
    object-fit: contain;
    /* height: 100%; */
    margin-bottom: 2px;
}

.sidebar-link div{
   display: block;
}
}


@media (max-width:450px) {
    .sidebar-link div{
    display:none;
}
}