.sidebar{
    position: fixed;
    left: 0;
    top: 52px;
    bottom: 0;
    background-color: #fff;
    width:fit-content;
    z-index: 105;
    padding-top: 3px;

    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  */
} 

.sidebar-link{
    /* background-color: red; */
    cursor: pointer;
   height: 76px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(229, 228, 228);
}

.sidebar-link img{
    height: 26px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 11px;
}