

      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;

      }
        
        .profile-picture{
            width: 70%;
            border-radius: 50%;
        }
        .thumbnail{
            width: 100%;
        }
        .thumbnail-row{
            margin-bottom: 10px;
        }
        .video-description{
            vertical-align: top;
        }
        .video-title{
            margin-top: 0;
            font-size: 14px;
            font-weight:600;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .video-author{
            font-size: 12px;
            margin-bottom: 4px;
            color: rgb(80, 80, 80);
        }
        .video-stats{
            font-size: 12px;
            color: rgb(80, 80, 80);
        }
        .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px;
            row-gap: 30px;
        }