* {
    /* color: white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rgba(0, 0, 0, 0)*/
.video_info {
    display: inline-block;
    margin-top: 0px;
    margin-left: 3px;
    color: white;
    width: 100%;
}

.profile_picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;

}

.video_preview {
    width: 100%;
}

.channel_profile {
    display: inline-block;

    vertical-align: top;
}

.video_title {
    margin-top: 0%;
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 0px;
}

.thumb_info {
    margin-top: 4px;
    display: grid;
    grid-template-columns: 18px 1fr;
    width: 100%;
    column-gap: 10px;
}

.thumb_picture {
    width: 100%;
    column-gap: 10px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 6px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.video_author,
.video_stats {
    color: rgb(170, 170, 170);
    /* Light gray for better contrast */
}

.video_author {

    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
}

.video_stats {

    font-size: 10px;
    margin-top: 2px;
}

.video_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    margin: auto;
    width: 90%;
}

.search_btn {
    background: #282828;
    border: 1px solid #414141;
    border-radius: 0 50% 50% 0;
    padding: 0 5px;
    margin-right: 5px;
}