.SUBSCRIBE{background-color: rgb(220, 1, 1);
    border-radius: 2px;color: white;border: none;
    height: 35px;
    width: 130px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity .1s;
    }
    .SUBSCRIBE:hover{
            opacity: .85;
    }
    .SUBSCRIBE:active{
            opacity: .7;
    }
    .join{
        transition: color .2s , background-color .2s;
        background-color: #fff;
        border-color: rgb(42, 42, 200);
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        color: rgb(41, 118, 225);
        height: 35px;
        width: 50px;
        margin-right: 8px;
        cursor: pointer;
    }
    .join:hover{
        border: none;
        background-color: rgb(41, 118, 225);
        color: white;
    }
    .join:active{
        opacity: .85;
    }
    .tweet{
        border: none;
        background-color: rgb(97, 97, 253);
        color: white;
        height: 30px;
        width: 50px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: box-shadow .2s;
    }
    .tweet:hover{
        box-shadow: 2px 2px 10px rgba(0,0,0,.4);
    }
    
    #amazon{
        margin: 10px;
        height: 35px;
        border: none;
        background-color: rgb(255, 255, 20);
        width: 150px;
        border-radius: 15px;
        cursor: pointer;
        
    }
    #github{
        background-color: rgb(46, 164, 79);
        cursor: pointer;
        color: white;
        margin-left: 8px;
        border: none;
        height: 35px;
        width: 80px;
        border-radius: 6px;
        font-weight: bold;
    }